---
import Layout from '@/layouts/Layout.astro'

export const prerender = false

const times = [
  '12:00',
  '12:30',
  '13:00',
  '13:30',
  '14:00',
  '14:30',
  '15:00',
  '20:00',
  '20:30',
  '21:00',
  '21:30',
  '22:00',
  '22:30',
  '23:00',
]

const peopleNumbers = [1, 2, 3, 4, 5, 6, 7, 8]

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()

  const name = formData.get('name')
  const email = formData.get('email')
  const date = formData.get('date')
  const time = formData.get('time')
  const people = formData.get('people')

  console.log({ name, email, date, time, people })
}
---

<Layout title='Reserva tu mesa - Licencia Gourmet'>
  <main>
    <h1>Reservas</h1>
    <form method='post'>
      <label for='name'>Nombre</label>
      <input type='text' id='name' name='name' required />

      <label for='email'>Email</label>
      <input type='email' id='email' name='email' required />

      <label for='date'>Fecha</label>
      <input type='date' id='date' name='date' required />

      <label for='time'>Hora</label>
      <select name='time' id='time'>
        <option hidden selected>Selecciona una opción</option>
        {times.map(time => <option value={time}>{time}</option>)}
      </select>

      <label for='people'>Número de personas</label>
      <select name='people' id='people'>
        <option hidden selected>Selecciona una opción</option>
        {peopleNumbers.map(number => <option value={number}>{number}</option>)}
      </select>

      <button type='submit'> Reservar </button>
    </form>
  </main>

  <style>
    form {
      display: flex;
      flex-direction: column;
      max-width: 90%;
      margin: 0 auto;
    }

    label {
      margin-bottom: 8px;
    }

    input,
    select,
    textarea {
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 8px 16px;
      background-color: var(--primary);
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      transition: background-color 0.3s;
    }

    button:hover {
      background-color: var(--primary-darker);
    }

    @media (width >= 500px) {
      form {
        width: 400px;
      }
    }
  </style>
</Layout>
