---
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Sobre nostros - Licencia Gourmet'>
  <main
    class='w-[90%] mx-auto flex flex-col justify-center items-center space-y-8'
  >
    <h1>Sobre nosotros</h1>
    <section>
      <h2>Misión</h2>
      <p>
        Nuestra misión es ofrecer productos gourmet de la más alta calidad,
        seleccionados cuidadosamente para satisfacer los paladares más
        exigentes.
      </p>
    </section>

    <section>
      <h2>Visión</h2>
      <p>
        Queremos convertirnos en la tienda de referencia para los amantes de la
        gastronomía, ofreciendo una amplia variedad de productos exclusivos y
        brindando una experiencia de compra excepcional.
      </p>
    </section>

    <section>
      <h2>Valores</h2>
      <ul class="flex flex-col gap-4">
        <li>
          <strong>Calidad:</strong> Nos comprometemos a ofrecer productos de la más
          alta calidad.
        </li>
        <li>
          <strong>Excelencia:</strong> Buscamos la excelencia en todo lo que hacemos,
          desde la selección de productos hasta el servicio al cliente.
        </li>
        <li>
          <strong>Pasión:</strong> Nos apasiona la gastronomía y queremos transmitir
          esa pasión a nuestros clientes.
        </li>
        <li>
          <strong>Sostenibilidad:</strong> Nos preocupamos por el medio ambiente
          y nos esforzamos por trabajar con proveedores que compartan nuestros valores
          de sostenibilidad.
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  section {
    max-width: 70ch;
    padding: 0 2rem;
  }

  h2 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  ul {
    list-style-type: disc;
    padding-left: 2rem;
  }

  li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
</style>
